<template>
  <div>
    <h3>Add / Edit a Puppy</h3>
    <form v-on:submit.prevent="addPuppy">
          <div id="inputs">
                  <div  id="id-input" class="input form-group input-sm">
                    <input  type="text" class="form-control" v-model="puppies.id" placeholder="ID"/>
                  </div>
                  <div  id="name" class="input form-group input-sm">
                    <input  type="text" class="form-control" v-model="puppies.name" placeholder="name"/>
                  </div>
                  <div  id="breed" class="input form-group input-sm">
                    <input  type="text" class="form-control" v-model="puppies.breed" placeholder="breed"/>
                  </div>

                  <div  id="age" class="input form-group input-sm">
                    <input  type="text" class="form-control" v-model="puppies.age" placeholder="age"/>
                  </div>

                  <div  id="sex" class="input form-group input-sm">
                    <input  type="text" class="form-control" v-model="puppies.sex" placeholder="sex"/>
                  </div>
                  <div id="add-btn" class="form-group">
                    <button   type="button " class="btn  btn-outline-success btn-m">ADD</button>

                  </div>
        </div>

     </form>
    <div id="edit-btn">
       <button   v-on:click="updatePuppy()" type="button " class="btn  btn-outline-info btn-m">EDIT</button>

    </div>
 </div>
</template>

<script>
    export default {
      data(){
        return{
          puppies: {},
          response:{}
        }
      },
      methods: {
        addPuppy(){
          let url = 'http://142.93.172.106/api/puppies/add';
          this.axios.post(url, this.puppies).then((response)=>{
            console.log(response);
            location.reload(true);
            this.response=response;
          })
        }
      },
      updatePuppy(){
        fetch('http://142.93.172.106/api/puppies/'+ id,{
          body: JSON.stringify(puppies),
          method: "PUT",
          headers:{"Content-Type":"application/json",},
        }).then((response) => {
          this.editPup=null;
          location.reload();
        });

      },

    }
</script>

<style scoped>

  #name{

    padding: 10px 460px 5px 120px;


  }

  #breed{

    padding: 0px 460px 5px 120px;
  }

  #age{

    padding: 0px 460px 5px 120px;
  }
  #id-input{

    padding: 0px 460px 5px 120px;
  }

  #sex{

    padding: 0px 460px 5px 120px;
  }

  #add-btn{

    float: left;
    padding: 0px 830px 5px 120px;
  }
  #edit-btn{

    float: left;
    padding: 0px 430px 5px 120px;
  }
  #inputs{
    padding-left: 20%;
  }
  h3 {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  .mb-3{
    padding: 10px 540px 20px 380px;
  }
  #delete{
    padding-top: 100px;
    text-align: center;
  }
</style>
