<template>
  <div>
        <div class="space"></div>
        <hr>
        <h3>Our Puppies List</h3>
        <puppies></puppies>
        <add></add>
  </div>
</template>

<script>
  export default {
    data(){
      return {

      }
    }
  }
</script>

<style scoped>
  h3 {
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Allerta Stencil', sans-serif;
  }
  .space{
    padding-bottom: 7px;
    background-color: #dcedc8;
  }
</style>
