<template>
  <div>
    <div class="space">

    </div>

      <div id="puppies-table">
        <table class="table table-sm table-striped table-hover ">
            <thead class="thead-light">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Breed</th>
                  <th scope="col">Age</th>
                  <th scope="col">Sex</th>
                  <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
            <tr v-for="pup, i in puppies.data">

              <td>{{pup.id}}</td>
              <td>{{pup.name}}</td>
              <td>{{pup.breed}}</td>
              <td>{{pup.age}}</td>
              <td>{{pup.sex}}</td>
              <td>
                <button v-on:click="deletePuppies(pup.id)" type="button" class="btn btn-sm  btn-danger"> X </button>
                <button v-on:click="updatePuppies(pup.id)"type="button" class="btn btn-sm btn-success">EDIT</button>
                </td>
              </tr>

            </tbody>

        </table>
      </div>
    <div class="space">

    </div>

    <!--<h3>EDIT</h3>-->
    <!--<div v-if="editC === pup.id">-->
    <!--<form v-on:submit.prevent="updatePuppy">-->

        <!--<div  id="name" class="input form-group input-sm">-->
          <!--<input   type="text" class="form-control" v-model="pup.name" placeholder="name"/>-->
        <!--</div>-->
        <!--<div  id="breed" class="input form-group input-sm">-->
          <!--<input  type="text" class="form-control" v-model="pup.breed" placeholder="breed"/>-->
        <!--</div>-->

        <!--<div  id="age" class="input form-group input-sm">-->
          <!--<input  type="text" class="form-control" v-model="pup.age" placeholder="age"/>-->
        <!--</div>-->


        <!--<div  id="sex" class="input form-group input-sm">-->
          <!--<input  type="text" class="form-control" v-model="pup.sex" placeholder="sex"/>-->
        <!--</div>-->
        <!--<div id="add-btn" class="form-group">-->
          <!--<button   v-on:click="updatePuppies(pup)" type="button " class="btn  btn-outline-info btn-m">SAVE</button>-->
        <!--</div>-->


  <!--</form>-->
    <!--</div>-->
  </div>

</template>

<script>
  export default {

    data () {
      return {
        editClick: false,
        puppies: {},
        response: {},
        }
    },
    created: function () {
      this.fetchItems();
    },
    methods: {
      fetchItems(){
          let url = 'http://142.93.172.106/api/puppies';
          this.axios.get(url).then((response) =>{
            this.puppies=response.data;
             })
       },
      deletePuppies(id,i){
        fetch('http://142.93.172.106/api/puppies/'+ id,{method: "DELETE"}).then((response) => {
           this.puppies.splice(i,1);
           location.reload();
          });

      }



      }
    }

</script>

<style scoped>
  .table {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .btn-success{
    padding-left: 10px;
  }


  h3 {
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
  }

  td {
    font-family: 'Roboto Condensed', sans-serif;
  }
  .table tr:hover td{
    background-color: #dcedc8;
  }
   td{
    align-content: center;

  }
  #name{

    padding: 10px 460px 5px 400px;


  }

  #breed{

    padding: 0px 460px 5px 400px;
  }

  #age{

    padding: 0px 460px 5px 400px;
  }

  #sex{

    padding: 0px 460px 5px 400px;
  }

  #add-btn{

    float: left;
    padding: 0px 830px 5px 400px;
  }
  .space{
    padding-bottom: 20px;
  }



</style>
